<h1 class="text-center mb-2">{{title}}</h1>
<h4>Members</h4>
<ul class="list-group">
  {{#each members}}
  <li class="list-group-item text-primary">{{this.name}} :: {{this.username}}</li>
  {{/each}}
</ul>